
.info_main_div {
    margin-top: 10%;
}

/* button with callout */
.info_button {
    background-color: var(--primary);
    border: none;
    border-radius: 20px;
    padding: 16px;
    position: relative;
}

/* info 'i' icon svg */
.info_icon {
    width: 40px;
    height: auto;
}

.info_button:hover {
    cursor: pointer;
}

.info_button::after {
    display: block; width: 0; 
    content: "";
    border: 15px solid transparent;
    border-left-color: var(--primary);
    border-right: 0;
    position: absolute; 
    right: -14px; top: calc(50% - 14px);
}

/* The rectangle that pops up */
.popup-main-div{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    margin-top: 10%;
    border-radius: 10px;
    /* Fix for fluctuating chatbox sizes */
    flex: 1;
    /* hide extra prompts */
    overflow: hidden;
}

/* text header + 'i' icon */
.prompts-header-main-div{
    display: flex;
    align-items: center;
}

/* prompts text header */
.header{
    padding-left: 25px;
    color: white;
    flex: 1;
    font-size: 20px;
    font-weight: 400;
}

.prompts-main-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2%;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-bottom: 20px; /* Add padding to bottom to prevent content from sticking to the bottom */
}

.prompt-div{
    font-size: 15px;
    margin: 0px 25px;
    padding: 3%;
    background-color: var(--lightgrey);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.prompt-div:hover{
    background-color: var(--secondary);
}

/* Media query for normal laptop screens */
@media screen and (max-width: 1300px) {
    .header{
        font-size: 14px;
    }
}


/* Media query for phone screens */
@media screen and (max-width: 767px) {
    .input-field {
        font-size: 10px;
    }
}