
/* chat + prompts */
.chat-main-div{
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2.5%;
    height: 70%;
    width: 55%;
    justify-content: flex-end;
}

/* Chat whole */
.chat-interface {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Portion containing bot and user texts */
.chat-history {
    padding-left: 3%;
    padding-right: 3%;
    border: solid var(--primary) 2px;
    overflow-y: auto;
    flex: 1;
    max-height: calc(100% - 80px); /* Adjust max-height to leave space for input message */
}

.message {
    padding: 8px;
    border-radius: 10px;
}

.user-message-container{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.bot-message-container{
    padding-top: 10px;
    display: flex;
}

.user {
    background-color: var(--secondary);
    margin-left: 20%;
    border-top-right-radius: 0;
}

.bot {
    background-color: var(--lightgrey);   
    border-top-left-radius: 0;
}

.botIcon {
    width: 40px;
    height: auto;
}

.bot-main-div{
    margin-right: 20%;
    display: flex;
}

.botmessages-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
}

/* main div for message input box */
.message-div {
    border: solid var(--primary) 2px;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
}

/* text feild + button */
.message-input {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}

/* just input text field */
.input-field {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 15px;
    /* Fix for input field exceeding parent div */
    box-sizing:border-box;  
    width: 100% ;
}

/* Remove border when input field is focused */
.input-field:focus {
    outline: none; 
}

.send-button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border: solid var(--primary) 2px;
    border-radius: 0 8px 8px 0;
    padding: 10px 20px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}

.header-box {
    font-size: 30px;
    background-color: var(--primary);
    color: #fff;
    padding: 12px;
    border-radius: 15px 15px 0px 0px;
    display: flex; /* Add flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
  

/* Media query for normal laptop screens */
@media screen and (max-width: 1200px) {
    .input-field {
        font-size: 12px;
    }
}


/* Media query for phone screens */
@media screen and (max-width: 767px) {
    .input-field {
        font-size: 10px;
    }
}